<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/content.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>likelion</title>
    <style type="text/css"></style>
  </head>

  <body>
    <div class="header">
      <div class="top-header">
        <img src="../img/logo.jpg" alt="" width="120px" />
        <div class="top-header-text">멋쟁이 사자처럼 at UNIST</div>
      </div>
      <div class="nav-bar">
        <div class="home">
          <a href="./home.html"> Home </a>
        </div>
        <div class="members">
          <a href="./members.html">Members</a>
        </div>
      </div>
    </div>

    <div class="content-wrap">
      <div class="content">
        <div class="card" style="width: 90%">
          <div class="card-body">
            <h5 class="card-title">환영합니다</h5>
            <p class="card-text">
              이 페이지는 멋쟁이 사자처럼 at UNIST 9기를 위한 페이지입니다.
              <br />
              멋쟁이 사자처럼 at UNIST에 대한 더 자세한 정보를 알고 싶다면, 아래
              버튼을 클릭해주세요.
            </p>
            <a
              href="https://www.facebook.com/likelion.UNIST"
              class="btn btn-primary"
              >UNILION facebook</a
            >
          </div>
        </div>
        <div class="card" style="width: 90%">
          <div class="card-body">
            <h5 class="card-title">신입기수 과제 안내</h5>
            <p class="card-text">
              2021년 1년 동안 여러분들이 수행해야 할 과제를 안내드립니다.
              <br />
              과제는 노션 페이지를 통해 공지되며, 완료하는대로 본인 이름을
              표시해야 합니다.
            </p>
            <a
              href="https://www.notion.so/CLASS-LION-95f4dc32ac294dc4a4968772f2077e79"
              class="btn btn-primary"
              >UNILION Notion</a
            >
          </div>
        </div>
        <div class="card" style="width: 90%">
          <div class="card-body">
            <h5 class="card-title">커리큘럼 정보</h5>
            <p class="card-text">
              멋쟁이 사자처럼에서 제공하는 커리큘럼은 다음과 같습니다.
              <br /><br />
            </p>
            <div id="curriculum">
              <img src="../img/curriculum.png" width="70%" alt="" />
            </div>
            <p class="card-text">
              <br />강의는 classlion에서 수강하실 수 있습니다.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <span>copyrightⓒ 2021 All rights reserved by JunHyung Cha</span>
    </div>
  </body>
</html>
